* {
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #123456;
    min-height: 100vh;
    color: #ffff;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #111111f2;
    padding: 20px;
    z-index: 100;
}

.name {
    flex: 0.6;
    font-size: 22px;
}

.links {
    flex: 0.4;
    font-size: 22px;
}

a {
    text-decoration: none;
    color: white;
    padding: 20px;
}

a:hover {
    background-color: thistle;
}

@media(max-width:1000px) {
    .name {
        flex: 0.4;
    }
    .links {
        flex: 0.6;
    }
}

.main-section {
    text-align: center;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px 0px;
    min-height: 85vh;
}

.project-img {
    object-fit: contain;
    height: 100%;
    width: 100%;
    cursor: pointer;
}

#about {
    background-color: #123456;
}

#projects {
    background-color: #111138;
}

#contact {
    background-color: #221370;
}

h1 {
    font-size: 80px;
    margin-bottom: 70px;
}

h2 {
    font-size: 40px;
    margin-bottom: 70px;
}

.aboutme {
    margin-top: 50px;
    font-size: 30px;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-gap: 30px;
}

@media(max-width:1100px) {
    .project-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
        grid-gap: 30px;
    }
}

.project {
    background-color: #234567;
    border-radius: 3px;
    transition: transform 0.35s ease-in-out;
}

.project:hover {
    transform: scalle(1.04);
    transition: transform 0.35s ease-in-out;
}

.project-title {
    font-size: 30px;
    padding: 20px;
}

.main-contact {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding: 50px 35px;
}

.contact-type {
    margin: 20px 35px;
}

h3 {
    font-size: 35px;
}